<nav class="navbar navbar-light bg-light border w-100">
  <a class="navbar-brand font-weight-bold">Home</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
</nav>

<%= render 'tweets/forms/new_form', tweet: @tweet, class: "form-group" if user_signed_in? %>

<% @tweets.each do |tweet| %>
  <%= render 'tweet', resource: tweet %>
<% end %>

<br>

<div class="d-flex flex-column text-center align-items-middle">
  <%= link_to 'Show more tweets', tweets_path(page: @page + 1), class: "font-weight-bold h3" unless @tweets.length < @max_tweets %>
  <%= link_to 'Previous page', tweets_path(page: @page - 1), class: "font-weight-bold" unless @page == 1 %>
</div>

